.contact{
	background-color: rgba(53, 60, 101, 1);
	padding: 70px 0;
	@media (max-width:1024px){
		p{
		font-size: 14px;
		line-height: 16px;}
	}
	.container-contact{
		display: flex;
		justify-content: space-between;
		@media (max-width:850px){
			flex-direction: column;
			align-items: center;
			padding: 0 20px;
		}
		
	}
	&-location{
		max-width: 370px;
		@media (max-width:1024px){
			max-width: 315px;
		}
		@media (max-width:850px){
			max-width: 500px;
		}
		
		&-title{
			
			
			p{
				font-family: 'Raleway';
				font-style: normal;
				font-weight: 700;
				font-size: 18px;
				line-height: 21px;
				text-align: center;
				text-transform: uppercase;
				color: #FFFFFF;
				
			}
		}
		&-text{
			margin-top: 28px;
			@media (max-width:850px){
				margin-top: 35px;
			}
			p{
				font-family: 'Raleway';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 21px;
				text-align: center;
				text-transform: capitalize;							
				color: #FFFFFF;
			}
		}

	}
	&-social{
		max-width: 370px;
		@media (max-width:1024px){
			max-width: 315px;
		}
		@media (max-width:850px){
			margin: 70px auto 59px;
		}
		&-title{
			p{
				font-family: 'Raleway';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 21px;
				text-align: center;
				text-transform: capitalize;							
				color: #FFFFFF;
				
			}
		}
		&-icon{
			margin-top: 28px;
			display: flex;
			justify-content: space-between;
			@media (max-width:850px){
				margin-top: 35px;
			}
			
			i{
				display: block;
				height:39px;
				width: 39px;
				color: rgba(198, 203, 205, 1);
				padding: 10px;
				border: 1px solid #C6CBCD;
				font-size: 18px;

			}
		}
	}
	&-about{
		max-width: 370px;
		@media (max-width:1024px){
			max-width: 315px;
		}
		&-title{
			p{
				font-family: 'Raleway';
				font-style: normal;
				font-weight: 700;
				font-size: 18px;
				line-height: 21px;
				text-align: center;
				text-transform: uppercase;
				color: #FFFFFF;
				

			}
		}
		&-text{
			margin-top: 28px;
			@media (max-width:850px){
				margin-top: 35px;
			}
			p{
				font-family: 'Raleway';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 21px;
				text-align: center;
				text-transform: capitalize;						
				color: #FFFFFF;
			}
		}

	}
}