.footer{
	background-color: rgba(44, 49, 84, 1);
	padding: 24px 0;
	@media (max-width:1024px){
		padding: 14px 0;
	}
	@media (max-width:600px){
		padding: 29px 0;
		.container-footer{
			max-width: 320px;
			padding: 0 20px;
		}
	}
	p{
		margin: 0 auto;
		max-width: 370px;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		text-transform: capitalize;
		color: #808080;
		@media (max-width:1024px){
			font-size: 14px;
			line-height: 16px;
			max-width: 314px;;
		}
		a {
			color: #fff;
		}
	}
}